body,html {
  padding: 0;
  margin: 0;
}
body {
  background: #e8e8e8;
  font-family: 'Lato', sans-serif;
  color: black;
  font-weight: 400;
  font-size: 20px;
}
body * {
  box-sizing: border-box;
}
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
#results {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
h1 {
  font-size: 30px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: white;
  background: black;
  margin: 60px 0 45px;
  font-weight: 400;
}
#results h1 {
  font-size: 18px;
  margin: 0 10px 25px;
  word-break: break-all;
}
#results table {
  margin: 0 10px;
}
section {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 10px;
  background: #efefef;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  min-width: 320px;
  max-width: 600px;
  padding: 0 0 30px 0;
  flex: 1 1 0;
}
section > * {
  padding: 0 30px;
}
section h2 {
  font-size: 17px;
  background: #f5f5f5;
  padding: 15px 30px;
  margin: 0;
  min-height: 70px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
em {
  color: #32a7c1;
}

/* No image */
section h2 + h3 {
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 20px;
  background: #f5f5f5;
  margin: 0;
  font-size: 12px;
  word-break:break-all;
}
/* Has an image */
section h2 + p + h3 {
  border-bottom: 1px solid #dcdcdc;
  padding: 20px 30px;
  background: #f5f5f5;
  margin: 0;
  font-size: 12px;
  word-break:break-all;
}
section h2 + p {
  margin: 0;
}

section p:empty {
  display: none;
}
section h3 {
  font-size: 16px;
  padding: 0 30px;
}
section img {
  width: calc(100% + 60px);
  height: auto;
  margin-left: -30px;
  margin-right: -30px;
  padding: 0;
  display: block;
}
section pre {
  overflow: auto;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 25px;
  max-width: 100%;
}

@media only screen and (min-width: 500px) {
  h1 {
    font-size: 50px;
    letter-spacing: 5px;
  }
  #results h1 {
    font-size: 25px;
  }
}